*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#github:hover,#linkedin:hover,#gmail:hover,#instagram:hover,#facebook:hover,#twitter:hover,#youtube:hover,#twitch:hover{
    background-color: blue;
    box-shadow: 1px 1px 15px black;
    width: 50px;
    border-radius: 50%;
}

body
{
    background-image: url(../imagens/background.jpg);
}

#all{ 
    display: block;
    background-image: url(../imagens/walpaper.jpg);
    color: #000000;
    margin: auto;
    box-shadow: 1px 1px 5px #0000008a;
    max-width: 330px;
    border: solid;
    border-radius: 8px;
    text-align: center;
    animation: typing 2s normal;
    white-space: nowrap; 
}
#imagem {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
    border-radius: 100%;
    margin: 0 auto;
    animation: roda 180s linear infinite;
}
#imagem img
{
    max-width: 200px;
    max-height: 200px;
}

#social{
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: solid 3px;
}
#links{
    position: relative;
    padding: 2em;
}

#links a:hover:after{
    content: attr(description);
    position: absolute;
    font-size: 1.2em;
    left: 40%;
    bottom: 0;
    color: black;
}
@keyframes roda {
    to { transform: rotate(360deg);}
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 21em;
    }
  }
@media(max-width:400px){
    #all h1 {
        font-size: 1.3em;    
    }
    #all h2{
        font-size: 0.9em;
    }
    #links{
        padding: 2px 3px;
    }
    #links img{
        max-width: 40px;
    } 
    #links a:hover:after{
        content:none;
    }

}
