@charset "UTF-8";
*{
  font-family: 'Courier New', Courier, monospace;
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

header a:hover {
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 100%;
}
header img
{
  top: 1000px;
  width: 80px;
}
#logo:hover{
  background-image: linear-gradient(to right, rgb(0, 0, 0), black);
}
#header {
  position: fixed;
  width: 120px;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  display: block;
  align-items: flex-start;
  justify-content: baseline;
  background-color: black;
  box-shadow: 1px 1px 5px white;
  overflow: hidden;
}

#menu {
  position: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  gap: 0.5rem;
  transition-duration: 0.5s;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  header img
  {
  top: 1000px;
  width: 75px;
  height: 76px;
  display: none;
  }
  #header {

    position: initial;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    overflow: visible;
    border-bottom: 1px solid white;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7dc;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    text-align: center;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.205);
    color: black;
  }
  #menu a:hover
  {
    border-radius: 0px;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: black;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: white;
    animation: hamburger infinite 10000ms;
    transition: ease 0.3s;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  @keyframes hamburger {
    from
    {
      transform: rotate(360deg);
    }
    to
    {
      transform: rotate(-360deg);
    }
  }
}
