*
{
  box-sizing: border-box;
  overflow-x: hidden;
}
body
{
  background-image: url(../imagens/walpaper.jpg);
  text-align: center;
}

h1
{
  text-decoration: underline;
}
h2
{
  border-top: 2px solid rgb(0, 0, 0);
  border-top-style: dashed;
  padding-top: 15px;
}
.links a
{
  color: rgb(0, 81, 255);
}
.links a:hover
{
  color: #ccc;
  background-color: rgb(0, 7, 104);
  text-decoration: underline;
}
.item
{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.slider 
{
  width: 100vw;
  height: 90vh;
  overflow-y: hidden;
}
.slider--width
{
  width: calc(100vw * 4);
  height: 90vh;
  display: flex;
  transition: all ease 0.4s;
 
}
.slider--item
{
  background-position: initial;
  background-size: cover;
  overflow-y: hidden;
}
.slider--item img
{
  width: 100vw;

}
.slider img
{
  width: 100vw;
  height: 100vh;

}
.slider--controls
{
  position: absolute;
  font-size: 40px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;

}
.slider--control
{
  background-color: rgba(2, 0, 0, 0.342);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  color: white;

}
.blink
{
  background-color: black;
  animation: blink 1000ms infinite;
  transition: all ease 0.4s;
  font-size: 1em;
  border: 2px solid white;
  margin: 0 auto;
  width: 20vw;
  border-style: dashed;
  margin-bottom: 30px;
}
.blink:hover
{
  background-color: blue;
  box-shadow: 1px 1px 15px black;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes typing2 
{
  from 
  {
    width: 0;
  }
  to 
  {
    width: 8em;
  }
}
@keyframes blink {
  from
  {
    color: white; 
  }
  to
  {
    color: rgb(14, 54, 233);
  }
}

@keyframes blinkCursor 
{
  from 
  {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to 
  {
    border-right-color: transparent;
  }
}
@media(min-width:601px){
  h1
  {
      padding-left: 150px;
  }
  h2
  {
      padding-left: 150px;
  }
  p
  {
      padding-left: 150px;
  }
  .slider
  {
    margin-left: 170px;
    width: 80vw;
  }
  .slider--width
{
  width: calc(100vw* 4);
  height: 90vh;
  display: flex;
  transition: all ease 0.4s;
  scroll-behavior: initial;
  overflow: hidden;
}
.slider--item
{
  background-position: initial;
  background-size: cover;
}
.slider--item img
{
  width: 90vw;
  overflow: hidden;
}
.slider img
{
  width: calc(100vw - 170px);
  height: 100vh;
  overflow: hidden;
}
.slider--controls
{
  width: 80%;
}
}
@media(max-width:400px)
{
  #pri
  {
    font-size: 2em;
  }
  #seg
  {
  font-size: 1em;
  }
}
