@charset "UTF-8";

body{
    font-family: monospace;
    font-size: 1em;
    background-image: url(../imagens/background.jpg);
    background-attachment: fixed;
}
#foot{
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.199);
    background-image: url(../imagens/walpaper.jpg);
}
#foot img 
{
    max-width: 60px;
    max-height: 60px;
}
p{
    font-size: 1em;
}
#sobre 
{
    padding: 2px 20px;
    box-sizing: border-box;
    height: auto;
    width: auto;
    color: black;
    background-image: url(../imagens/walpaper.jpg);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.199);
}

h1{
    text-decoration: underline;
    font-size: 1.25em;
    text-align: center;
}
h2{
    text-align: center;
    text-indent: 0px;
}
#txt{
    text-align: justify;
    position: relative;
    text-indent: 2em;
    margin: 20px;
    padding: 0px 20px;
} 
#frase{
    text-align: center;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.199);
    padding: 1px 25px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(../imagens/walpaper.jpg);
}
#certificate
{
    display: flex;
}
#certificate p
{
    text-align: justify;
    margin-left: 5px;
    display: block;
    position: block;
    margin: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.425);
}
#certificate img
{
    width: 200px;
    border: 1px solid black;
}
@media(min-width:600px){
    #sobre
    {
        padding-left: 150px;
    }
    #foot
    {
        padding-left: 150px;
    }
    #frase
    {
        padding-left: 150px;
    }
}
@media(max-width:745px)
{
    #txt
    {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    #certificate
    {
        display: contents;
    }
}
    
    
   
