@charset "UTF-8";
@font-face {
  font-family: "Android";
  src: url("documentos/IDroid\ Bold\ Italic.otf") format("opentype");
  font-weight: normal;
}
:root{
  --font-android:"Android";
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
   overflow:hidden;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75.6px);
    background-image: url(../imagens/background.jpg);
    background-attachment: fixed;
    color: blue;
}
#line{
    border-right: solid 2px rgb(255, 255, 255);
    font-family: monospace;
    font-size: 3em;
    margin: 0 auto;
    white-space: nowrap;
    overflow:hidden;
}
footer
{
  width: 100%;
  text-align: center;
  font-family: var(--font-android);
  font-size: 2em;
  background-image: url(../imagens/walpaper.jpg);
}
.typing-animation {
    animation: blinkCursor 750ms steps(40) infinite
    normal, 
    typing 3s steps(40) 1s normal both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 13em;
    }
  }
 
  @keyframes blinkCursor {
    from {
      border-right-color: rgb(255, 255, 255);
    }
    to {
      border-right-color: transparent;
    }
  }
  @media(min-width:600px){
    body
    {
      overflow:hidden;
    }
    #home{
      padding-left: 120px;
      height: calc(100vh - 25px);
    }
    #line{
      font-size: 25px;
    }
    footer{
     padding-left: 120px;
     font-size: 20px
    }
  }
  @media(max-width:680px){
    #home{
      height: calc(100vh - 25px);
    }
    #line{
      font-size: 25px;
    }
    footer{
     font-size: 20px;
     height: max-content;
    }
  }
  @media(max-width:600px)
  {
    #home
    {
      height: 77vh;
    }
  }
  @media(max-width:485px){
   
    #line{
      font-size: 23px;
    }
    footer{
     font-size: 18px
    }
  }
  @media(max-width:400px){

    #line{
      font-size: 15px;
    }
    footer{ 
     font-size: 15px
    }
  }
