@charset "UTF-8";
@font-face {
  font-family: "Android";
  src: url("documentos/IDroid\ Bold\ Italic.otf") format("opentype");
  font-weight: normal;
}
:root{
  --font-android:"Android";
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  background-color: black;
}


#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.815)80%);
    background-attachment: fixed;
}
footer{
    border-top: 1px solid;
    background-image: linear-gradient(to left, rgba(228, 228, 228, 0.815), rgb(215, 239, 255) 80%);
    text-align: center;
    font-family: var(--font-android);
    font-size: 2em;
}
#line{
    border-right: solid 2px rgba(255, 255, 255, 0.7);
    color:rgba(252, 252, 252, 0.726);
    font-family: monospace;
    font-size: 3em;
    margin: 0 auto;
    white-space: nowrap;
    overflow:hidden;
}

.typing-animation {
    animation: blinkCursor 750ms steps(40) infinite
    normal, 
    typing 3s steps(40) 1s normal both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 13em;
    }
  }
 
  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  @media(max-width:600px){

    #line{
      font-size: 25px;
    }
    footer{
     font-size: 20px
    }
  }
