*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.815)80%);
    background-attachment: fixed;
}
#github:hover,#linkedin:hover,#gmail:hover,#instagram:hover,#facebook:hover,#twitter:hover,#youtube:hover,#twitch:hover{
    background-image: linear-gradient(to left, rgba(228, 228, 228, 0.815), rgb(215, 239, 255));
    box-shadow: 10px 10px 10px black;
}


main{
    background-color: rgba(255, 255, 255, 0.493);
    color: #000000;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.61);
    width: 330px;
    margin-top: 40px;
    border: solid;
    border-radius: 8px;
    text-align: center;
    animation: typing 2s normal;
    white-space: nowrap;
    overflow:hidden;
    padding: 2em;
}
#imagem {
    position: initial;
    width: 171px;
    height: 171px;
    text-align: center;
    align-items: center;
    box-shadow:
    5px 5px 15px 0px rgba(0, 0, 0, 0.993),
    5px 5px 200px 0px rgb(0, 0, 0),
    inset 0px 0px 10px 0px black;
    border-radius: 100%;
    margin: 0 auto;
    animation: roda 180s linear infinite;
}

#social{
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: solid 3px;
}
#links{
    position: relative;
    padding: 2em;
}

#links a:hover:after{
    content: attr(description);
    position: absolute;
    left: 40%;
    bottom: 0;
    
}
@keyframes roda {
    to { transform: rotate(360deg);}
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 21em;
    }
  }

