body{
  background-color: black;
    background-attachment: fixed;
}

   
#sec{
    margin:auto;
    position: relative;
    margin-top: 15%;
}
   #pri{ 
     margin: 0 auto;
    min-width:auto ;
    text-align: center;
    margin: auto;
    color:rgba(247, 247, 247, 0.726);
    font-size: 3em;
    margin: 0 auto;
    white-space: nowrap;
    overflow:hidden;

  
   }
    #seg{
        font-size: 2em;
        width: 130px;
        text-align: center;
        color:rgba(148, 201, 231, 0.726);
        border-right: solid 2px rgba(255, 255, 255, 0.7);
        margin: 0 auto;
        white-space: nowrap;
        overflow:hidden;
        animation: typing2 3s steps(40) normal infinite, blinkCursor 750ms steps(40) infinite
        normal;
    }
    #repo{
      text-align: center;
        color: white;
    }
    #repo :hover{
      background-image: linear-gradient(to right, rgb(0, 0, 0), black);
      color: white;
      border: solid;
      border-color: rgb(247, 230, 247);
    }


  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 8em;
    }
  }
 
  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  @media(max-width:400px){
    #pri{
      font-size: 2em;
     }
    #seg{
      font-size: 1em;
    }
  }